html, body {
  padding: 0;
  border: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
  background: black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    width: 500px;
    height: 500px;
    border: 2px solid white;
}
